.image-box {
  position: relative;
  width: 400px;
  height: 300px;
  margin: auto;
}

.image-box img {
  width: 100%;
  height: 100%;
  display: none;
}


#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;

  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;

  animation: spin 10s linear infinite;
}

#skeliton{
    align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
